@using EducationalPortal.Core.Entities.EducationalMaterials
@model IEnumerable<EducationalPortal.Core.Entities.EducationalMaterials.MaterialsBase>

<section class="d-flex flex-column">
    @{
        var i = 0; 
    }

    @foreach (var material in Model)
    {
        <div class="card m-1">
            <div class="card-body d-flex flex-row">
                <h6 class="mb-0" style="margin-right:10px">@(i + 1)</h6>
                <input type="text" name="@($"[{i}].Id")" value="@material.Id" hidden/>
                <input type="text" name="@($"[{i}].Name")" value="@material.Name" hidden/>
                <input type="text" name="@($"[{i}].Link")" value="@material.Link" hidden/>
                @if (material.Link.Contains("videos"))
                {
                     <img style="height:17px; margin-right:10px;" class="mt-1"
                          src="https://educationalportal.blob.core.windows.net/essentials/Video.svg"/>
                } 
                else if (material.Link.Contains("books"))
                {
                    <img style="height:17px; margin-right:10px;" class="mt-1"
                         src="https://educationalportal.blob.core.windows.net/essentials/Book.svg"/>
                }
                else
                {
                    <img style="height:17px; margin-right:10px;" class="mt-1"
                         src="https://educationalportal.blob.core.windows.net/essentials/Article.svg"/>
                }
                <a href="@material.Link" target="_blank"><p class="mb-0" style="margin-right:7px;">@material.Name</p></a>
            </div>
        </div>
        i++;
    }
</section>