@using EducationalPortal.Application.DTO
@using EducationalPortal.Application.Paging
@model PagedList<EducationalPortal.Web.ViewModels.CreateViewModels.VideoCreateModel>

<section class="d-flex flex-column">
    @foreach (var video in Model)
    {
        var action = (video.IsChosen) ? "RemoveMaterial" : "AddMaterial";
        var checkbox = (video.IsChosen) ? "checked" : "";
        <div class="card m-1 d-flex flex-row">
            <div class="card-body d-flex flex-row">
                <input class="form-check-input checkbox" type="checkbox" style="margin-right:10px;"
                       id="@($"Videos{video.Id}")" onclick="@(action + $"({video.Id}, 'Videos')")" @checkbox>
                <div style="width:100%;" class="d-flex flex-row justify-content-between mb-2">
                    <div class="d-flex flex-row">
                        <img style="height:17px; margin-right:10px;" class="mt-1"
                             src="https://educationalportal.blob.core.windows.net/essentials/Video.svg"/>
                        <a href="@video.Link" target="_blank">
                            <p class="mb-0" style="margin-right:7px;">@video.Name</p>
                        </a>
                    </div>
                    <div class="d-flex flex-row">
                        <p class="text-primary mb-0" style="margin-right:20px">@video.Quality.Name</p>
                        <p class="text-secondary mb-0">@video.Duration.ToString("mm:ss")</p>
                    </div>
                </div>
                <input class="btn btn-danger btn-sm" type="button" value="Delete" style="margin-left:10px"
                       onclick="DeleteMaterial(@video.Id, 'Videos', @Model.PageNumber)"/>
            </div>
        </div>
    }
</section>

<div class="mt-2" id="createVideos">
    @await Html.PartialAsync("_CreateVideo", new VideoDTO())
</div>

@{
    var previousPage = (Model.HasPreviousPage) ? "" : "disabled";
    var nextPage = (Model.HasNextPage) ? "" : "disabled";
}
<nav class=mt-3>
    <ul class="pagination justify-content-center">
        <li class="page-item @previousPage">
            <a onclick="ChangeMaterialsPage(@(Model.PageNumber - 1), 'Videos')" class="page-link">Previous</a>
        </li>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            string linkStatus = (i == Model.PageNumber) ? "active" : "";
            <li class="page-item @linkStatus">
                <a onclick="ChangeMaterialsPage(@i, 'Videos')" class="page-link">@i</a>
            </li>
        }
        <li class="page-item @nextPage">
            <a onclick="ChangeMaterialsPage(@(Model.PageNumber + 1), 'Videos')" class="page-link">Next</a>
        </li>
    </ul>
</nav>

<script>
    function CreateVideo(){
        CreateMaterial('Videos', @Model.PageNumber);
    }
</script>