@using EducationalPortal.Web.Paging
@model PagedList<EducationalPortal.Core.Entities.CartItem>

@{
    ViewData["Title"] = "Shopping Cart";
}
@{
    var total = 0.00;
}

<section class="d-flex flex-wrap">
    <div class="col-md-9" style="margin-right: 15px">
    @foreach (var cartItem in Model)
    {
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@cartItem.Course.Id">
                        <img src="@cartItem.Course.Thumbnail" class="img-fluid rounded-start" alt="">
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">@cartItem.Course.Name</h5>
                        <p class="card-text">@cartItem.Course.ShortDescription</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-body">
                        <h5 class="text-primary">@cartItem.Course.Price points</h5>
                        <form method="post" asp-action="Delete" asp-route-cartItemId="@cartItem.Id">
                            <input type="submit" value="Delete" class="btn btn-danger"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        total += cartItem.Course.Price;
    }
    </div>
    <div class="col-md-2">
        <h6 class="text-secondary">Total:</h6>
        <h2 class="text-primary">@total points</h2>
        <form method="post" asp-action="Buy">
            <input type="submit" value="Checkout" class="btn btn-primary" style="width:100%"/>
        </form>
    </div>
</section>

@{
    var previousPage = (Model.HasPreviousPage) ? "" : "disabled";
    var nextPage = (Model.HasNextPage) ? "" : "disabled";
}

<nav class=mt-3>
    <ul class="pagination justify-content-center">
        <li class="page-item @previousPage">
            <a asp-action="Index" asp-route-PageNumber="@(Model.PageNumber - 1)" class="page-link">Previous</a>
        </li>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            string linkStatus = (i == Model.PageNumber) ? "active" : "";
            <li class="page-item @linkStatus">
                <a asp-action="Index" asp-route-PageNumber="@i" class="page-link">@i</a>
            </li>
        }
        <li class="page-item @nextPage">
            <a asp-action="Index" asp-route-PageNumber="@(Model.PageNumber + 1)" class="page-link">Next</a>
        </li>
    </ul>
</nav>